<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/people" routerLinkActive="active">People</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sales" routerLinkActive="active">Sales</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
